<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Does Graph G contain Graph H?</title>
        <!-- Bootstrap -->
        <link href="css/bootstrap.min.css" rel="stylesheet">
        <link href="css/style.css" rel="stylesheet">
    	<script src="http://d3js.org/d3.v2.min.js"></script>
    	<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
        <style>
        </style>
    </head>
    <body style="margin-top:10px;">
        <div class="col-md-1" id="side_menu">
        </div>
        <div class="col-md-6" id="g_graph" style="outline: blue solid 5px;">
	        <h3>
	            Graph G
	        </h3>
        </div>
        <div class="col-md-4" id="h_graph" style="outline: blue solid 5px;">
	        <h3>
	            Graph H
	        </h3>
        </div>
        <script src="js/force_viewer.js"></script>
    </body>
</html>