<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Does Graph G contain Graph H</title>

    <!-- Bootstrap Core CSS -->
    <link href="{{ url_for('static', filename="css/bs.css") }}" rel="stylesheet">
    <link href="{{ url_for('static', filename="css/style.css") }}" rel="stylesheet">
    <!-- Custom CSS -->
    <link href="{{ url_for('static', filename="css/simple-sidebar.css") }}" rel="stylesheet">

    <script src="http://d3js.org/d3.v2.min.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body>

    <div id="wrapper">

        <!-- Sidebar -->
        <div id="sidebar-wrapper">
            <ul class="sidebar-nav">
                <li class="sidebar-brand">
                    <a href="#">
                        Commands
                    </a>
                </li>
                <li>
                    <a onclick="checkContains();">Contains</a>
                </li>
                <li>
                    <a onclick="showFile();">Load File</a>
                </ll>
                <li>
                    <a onclick="toggleComplementCommands();">Complement <img src="{{ url_for('static', filename="images/dropdown.png") }}" alt="Dropdown" style="height:15px;width:15px;"></a>
                </li>
                <li class="complementCommands" style="display:none">
                    <a onclick="complementGraph(g_graph);">Complement G</a>
                </li>
                <li class="complementCommands" style="display:none">
                    <a onclick="complementGraph(h_graph);">Complement H</a>
                </li>
                <li>
                    <a onclick="toggleResetCommands();">Reset <img src="{{ url_for('static', filename="images/dropdown.png") }}" alt="Dropdown" style="height:15px;width:15px;" ></a>
                </li>
                <li class="resetCommands" style="display:none">
                    <a role="menuitem" tabindex="-1" onclick="resetGraph(g_graph);">Reset G</a>
                </li>
                <li class="resetCommands" style="display:none">
                    <a role="menuitem" tabindex="-1" onclick="resetGraph(h_graph);">Reset H</a>
                </li>
                <li>
                    <a onclick="toggleJoinCommands();">Join <img src="{{ url_for('static', filename="images/dropdown.png") }}" alt="Dropdown" style="height:15px;width:15px;" ></a>
                </li>
                <li class="joinCommands" style="display:none" >
                    <a onclick="joinGraphs(g_graph, h_graph);">Join G with H</a>
                </li>
                <li class="joinCommands" style="display:none">
                    <a onclick="joinGraphs(h_graph, g_graph);">Join H with G</a>
                </li>
                <li>
                    <a onclick="toggleCopyCommands();">
                        Copy <img src="{{ url_for('static', filename="images/dropdown.png") }}" alt="Dropdown" style="height:15px;width:15px;" >
                    </a>
                <li class="copyCommands" style="display:none" >
                    <a role="menuitem" tabindex="-1" onclick="copyGraph(g_graph, h_graph);">Copy G to H</a>
                </li>
                <li class="copyCommands" style="display:none">
                    <a role="menuitem" tabindex="-1" onclick="copyGraph(h_graph, g_graph);">Copy H to G</a>
                </li>
                </li>
                <li class="sidebar-brand">
                    <a href="#">
                        Status
                    </a>
                </li>
                <li>
                    <a id="selected">Selected Graph:</a>
                </li>
                <li>
                    <a id="contains">G contains H:</a>
                </li>
            </ul>
        </div>
        <!-- /#sidebar-wrapper -->

        <!-- Page Content -->
        <div id="page-content-wrapper">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-12" >
                        <div id="g_graph" style="width:400px; height:200px">
                            <h3>
                                Graph G
                            </h3>
                        </div>
                        <div id="h_graph" style="width:400px; height:250px">
                            <h3>
                                Graph H
                            </h3>
                        </div>
                        <div id="4-vertex-graphs">
                            <input type="checkbox" id="K4" name="K4" value="K4">: K4 
                            <img src="{{ url_for('static', filename="images/small-checkmark.jpg") }}" alt="Induced subgraph in G" style="height:15px;width:15px;display: none;" id="K4Yes" class="containsPictures">
                            <img src="{{ url_for('static', filename="images/small-x.jpg") }}" alt="Induced subgraph in G" style="height:15px;width:15px;display: none;" id="K4No" class="containsPictures">
                            <br/>
                            <input type="checkbox" id="co-K4" name="co-K4" value="co_K4">: co-K4
                            <img src="{{ url_for('static', filename="images/small-checkmark.jpg") }}" alt="Induced subgraph in G" style="height:15px;width:15px;display: none;" id="co_K4Yes" class="containsPictures">
                            <img src="{{ url_for('static', filename="images/small-x.jpg") }}" alt="Induced subgraph in G" style="height:15px;width:15px;display: none;" id="co_K4No" class="containsPictures">
                            <br/>
                            <input type="checkbox" id="diamond" name="diamond" value="diamond">: diamond
                            <img src="{{ url_for('static', filename="images/small-checkmark.jpg") }}" alt="Induced subgraph in G" style="height:15px;width:15px;display: none;" id="diamondYes" class="containsPictures">
                            <img src="{{ url_for('static', filename="images/small-x.jpg") }}" alt="Induced subgraph in G" style="height:15px;width:15px;display: none;" id="diamondNo" class="containsPictures">
                            <br/>
                            <input type="checkbox" id="co-diamond" name="co-diamond" value="co_diamond">: co-diamond
                            <img src="{{ url_for('static', filename="images/small-checkmark.jpg") }}" alt="Induced subgraph in G" style="height:15px;width:15px;display: none;" id="co_diamondYes" class="containsPictures">
                            <img src="{{ url_for('static', filename="images/small-x.jpg") }}" alt="Induced subgraph in G" style="height:15px;width:15px;display: none;" id="co_diamondNo" class="containsPictures">
                            <br/>
                            <input type="checkbox" id="paw" name="paw" value="paw">: paw
                            <img src="{{ url_for('static', filename="images/small-checkmark.jpg") }}" alt="Induced subgraph in G" style="height:15px;width:15px;display: none;" id="pawYes" class="containsPictures">
                            <img src="{{ url_for('static', filename="images/small-x.jpg") }}" alt="Induced subgraph in G" style="height:15px;width:15px;display: none;" id="pawNo" class="containsPictures">
                            <br/>
                            <input type="checkbox" id="co-paw" name="co-paw" value="co_paw">: co-paw
                            <img src="{{ url_for('static', filename="images/small-checkmark.jpg") }}" alt="Induced subgraph in G" style="height:15px;width:15px;display: none;" id="co_pawYes"  class="containsPictures">
                            <img src="{{ url_for('static', filename="images/small-x.jpg") }}" alt="Induced subgraph in G" style="height:15px;width:15px;display: none;" id="co_pawNo" class="containsPictures">
                            <br/>
                            <input type="checkbox" id="claw" name="claw" value="claw">: claw
                            <img src="{{ url_for('static', filename="images/small-checkmark.jpg") }}" alt="Induced subgraph in G" style="height:15px;width:15px;display: none;" id="clawYes" class="containsPictures">
                            <img src="{{ url_for('static', filename="images/small-x.jpg") }}" alt="Induced subgraph in G" style="height:15px;width:15px;display: none;" id="clawNo" class="containsPictures">
                            <br/>
                            <input type="checkbox" id="co-claw" name="co-claw" value="co_claw">: co-claw
                            <img src="{{ url_for('static', filename="images/small-checkmark.jpg") }}" alt="Induced subgraph in G" style="height:15px;width:15px;display: none;" id="co_clawYes" class="containsPictures">
                            <img src="{{ url_for('static', filename="images/small-x.jpg") }}" alt="Induced subgraph in G" style="height:15px;width:15px;display: none;" id="co_clawNo" class="containsPictures">
                            <br/>
                            <input type="checkbox" id="C4" name="C4" value="C4">: C4
                            <img src="{{ url_for('static', filename="images/small-checkmark.jpg") }}" alt="Induced subgraph in G" style="height:15px;width:15px;display: none;" id="C4Yes"  class="containsPictures">
                            <img src="{{ url_for('static', filename="images/small-x.jpg") }}" alt="Induced subgraph in G" style="height:15px;width:15px;display: none;" id="C4No" class="containsPictures">
                            <br/>
                            <input type="checkbox" id="2K2" name="2K2" value="co_C4">: 2K2
                            <img src="{{ url_for('static', filename="images/small-checkmark.jpg") }}" alt="Induced subgraph in G" style="height:15px;width:15px;display: none;" id="co_C4Yes"  class="containsPictures">
                            <img src="{{ url_for('static', filename="images/small-x.jpg") }}" alt="Induced subgraph in G" style="height:15px;width:15px;display: none;" id="co_C4No" class="containsPictures">
                            <br/><br/>
                            <button onclick="check4VertexGraphs()" type="button" class="btn btn-info" value="G contains">G contains?</button>
                            <button onclick="k_vertex()" type="button" class="btn btn-success" value="G's k-vertex">G find k-vertex</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- /#page-content-wrapper -->
        <!-- modal -->
        <div class="modal fade" id="modal">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <h4 class="modal-title" id="modalTitle"></h4>
              </div>
              <div class="modal-body" id="modalBody" >
                <p id="modalText"></p>
                <ul id="modalList">
                </ul>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
              </div>
            </div><!-- /.modal-content -->
          </div><!-- /.modal-dialog -->
        </div><!-- /.modal -->
        
        <div class="modal fade" id="k_modal">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <h4 class="modal-title">G contains K-Vertex</h4>
              </div>
              <div class="modal-body" id="k_modalBody" >
                <p id="k_modalText">The following summarizes G's k-vertex set:</p>
                <ul id="k_modalList">
                </ul>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
              </div>
            </div><!-- /.modal-content -->
          </div><!-- /.modal-dialog -->
        </div><!-- /.k_modal -->
        <div class="modal fade" id="file_modal">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close loadClose" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only" style="display: none;">Close</span></button>
                <h4 class="modal-title" >Load Graph</h4>
              </div>
              <div class="modal-body" id="file_modalBody" >
                <p id="file_modalText"> Load a graph from a text file:</p>
                    <form id="upload-file" method="post" enctype="multipart/form-data">
                        <fieldset>
                            <input name="file" type="file" style="">
                        </fieldset>
                        <br/>
                        <fieldset>
                            <button id="upload-file-btn-g" type="button" class=" btn btn-success" style="">Load to graph G</button>
                        </fieldset>
                        <br/>
                        <fieldset>
                            <button id="upload-file-btn-h" type="button" class="btn btn-warning" style=""> Load to graph H</button>
                        </fieldset>
                    </form>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-default loadClose" data-dismiss="modal" style="display: none;">Close</button>
              </div>
            </div><!-- /.modal-content -->
          </div><!-- /.modal-dialog -->
        </div><!-- /.k_modal -->
    <a class="btn btn-mini btn-link " onclick="showAbout()">About</a>
    <a class="btn btn-mini btn-link " onclick="showHelp();">Help</a>
    <a class="btn btn-mini btn-link " href="http://jquery.com/">jQuery</a>
    <a class="btn btn-mini btn-link " href="http://twitter.github.io/bootstrap/">Bootstrap</a>
    <a class="btn btn-mini btn-link " href="http://flask.pocoo.org/">Flask</a>
    <a class="btn btn-mini btn-link " href="http://d3js.org/">D3</a>
    <a class="btn btn-mini btn-link " href="https://networkx.github.io/">Networkx</a>
    <!-- Bootstrap Core JavaScript -->
    </div>
    <!-- /#wrapper -->

    <script src="{{ url_for('static', filename="js/bootstrap.min.js") }}"></script>

    <!-- Menu Toggle Script -->
    <script>
    function showAbout(){
        $("#modalTitle").text("About");
        $('#modalText').empty();
        $('#modalText').append("A simple web app to help find induced subgrpahs<br/>Created by: Dallas Fraser <br/>Tools used:");
        $('#modalBody ul').empty();
        $('#modalBody ul').append("<li>Flask -> python framework</li>");
        $('#modalBody ul').append("<li>D3 -> javascript visualization library</li>");
        $('#modalBody ul').append("<li>Networkx -> python graph library</li>");
        $('#modal').modal("show");
    }

    function showHelp(){
        $("#modalTitle").text("Help");
        $('#modalText').empty();
        $('#modalText').append("If you question is un-answered feel free to send an email to fras2560@mylaurier.ca");
        $('#modalBody ul').empty();
        $('#modalBody ul').append("<li>Contains -> Checks if G contains a induced subgraph H/li>");
        $('#modalBody ul').append("<li>Complement -> Takes the complement of G</li>");
        $('#modalBody ul').append("<li>Clear -> Clears the graph G</li>");
        $('#modalBody ul').append("<li>Choose file -> Load a graph from a txt file into graph G with the file format <br/>node:edge,edge<br/>node2:edge,edge </li>");
        $('#modalBody ul').append("<li>Create vertex -> Click on existing vertex and drag to new spot.</li>");
        $('#modalBody ul').append("<li>Create edge -> Click on existing vertex and drag to another vertex.</li>");
        $('#modalBody ul').append("<li>Delete vertex -> Click on existing vertex and hit delete or backspace.</li>");
        $('#modalBody ul').append("<li>Delete edge -> Click on existing edge and hit delete or backspace.</li>");
        $('#modalBody ul').append("<li>Zoom -> Use the wheel to zoom in and out</li>");
        $('#modalBody ul').append("<li>Drag Graph -> Click on graph(not on vertex or edge) and draw to move graph</li>");
        $('#modalBody ul').append("<li>G Contains -> Check if the graph G contains the checked 4-vertex subgraphs</li>");
        $('#modalBody ul').append("<li> G's k-vertex -> Checks if G contains a k-vertex without contained an induced subgraph of the ones checked</li>");
        $('#modal').modal("show")
    }
    function toggleCopyCommands(){
        $(".copyCommands").toggle();
    }
    function toggleJoinCommands(){
        $(".joinCommands").toggle();
    }
    function toggleResetCommands(){
        $('.resetCommands').toggle();
    }
    function toggleComplementCommands(){
        $('.complementCommands').toggle();
    }
    function showFile(){
        $('#file_modal').modal("show");
    }
    </script>
    <script src="{{ url_for('static', filename="js/force_viewer.js") }}"></script>

</body>
</html>
