<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Does Graph G contain Graph H</title>

    <!-- Bootstrap Core CSS -->
    <link href="{{ url_for('static', filename="css/bootstrap.css") }}" rel="stylesheet">
    <link href="{{ url_for('static', filename="css/style.css") }}" rel="stylesheet">
    <!-- Custom CSS -->
    <link href="{{ url_for('static', filename="css/simple-sidebar.css") }}" rel="stylesheet">

    <script src="http://d3js.org/d3.v2.min.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body>

    <div id="wrapper">

        <!-- Sidebar -->
        <div id="sidebar-wrapper">
            <ul class="sidebar-nav">
                <li class="sidebar-brand">
                    <a href="#">
                        Commands
                    </a>
                </li>
                <li>
                    <a onclick="checkContains();">Contains</a>
                </li>
                <li class="sidebar-brand">
                    <a href="#">
                        Status
                    </a>
                </li>
                <li>
                    <a id="selected">Selected Graph:</a>
                </li>
                <li>
                    <a id="contains">G contains H:</a>
                </li>
            </ul>
        </div>
        <!-- /#sidebar-wrapper -->

        <!-- Page Content -->
        <div id="page-content-wrapper">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-12">
                        <div id="g_graph" style="">
                            <h3>
                                Graph G
                            </h3>
                        </div>
                        <div id="h_graph" style="">
                            <h3>
                                Graph H
                            </h3>
                        </div>
                        <div id="4-vertex-graphs">
                            <input type="checkbox" id="K4" name="K4" value="K4">: K4<br/>
                            <input type="checkbox" id="co-K4" name="co-K4" value="co_K4">: co-K4<br/>
                            <input type="checkbox" id="diamond" name="diamond" value="diamond">: diamond<br/>
                            <input type="checkbox" id="co-diamond" name="co-diamond" value="co_diamond">: co-diamond<br/>
                            <input type="checkbox" id="paw" name="paw" value="paw">: paw<br/>
                            <input type="checkbox" id="co-paw" name="co-paw" value="co_paw">: co-paw<br/>
                            <input type="checkbox" id="claw" name="claw" value="claw">: claw<br/>
                            <input type="checkbox" id="co-claw" name="co-claw" value="co_claw">: co-claw<br/>
                            <input type="checkbox" id="C4" name="C4" value="C4">: C4<br/>
                            <input type="checkbox" id="2K2" name="2K2" value="co_C4">: 2K2<br/><br/>
                            <button onclick="check4VertexGraphs()" type="button" class="btn btn-info" value="G contains">G contains?</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- /#page-content-wrapper -->

    </div>
    <!-- /#wrapper -->

    <!-- Bootstrap Core JavaScript -->
    <script src="{{ url_for('static', filename="js/bootstrap.min.js") }}"></script>

    <!-- Menu Toggle Script -->
    <script>
    </script>
    <script src="{{ url_for('static', filename="js/force_viewer.js") }}"></script>

</body>

</html>
