<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Does Graph G contain Graph H</title>

    <!-- Bootstrap Core CSS -->
    <link href="{{ url_for('static', filename="css/bs.css") }}" rel="stylesheet">
    <link href="{{ url_for('static', filename="css/style.css") }}" rel="stylesheet">
    <!-- Custom CSS -->
    <link href="{{ url_for('static', filename="css/simple-sidebar.css") }}" rel="stylesheet">

    <script src="http://d3js.org/d3.v2.min.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body>

    <div id="wrapper">

        <!-- Sidebar -->
        <div id="sidebar-wrapper">
            <ul class="sidebar-nav">
                <li class="sidebar-brand">
                    <a href="#">
                        Commands
                    </a>
                </li>
                <li>
                    <a onclick="checkContains();">Contains</a>
                </li>
                <li>
                    <a onclick="ClearGraphs();">Clear</a>
                </li>
                <form id="upload-file" method="post" enctype="multipart/form-data">
                    <fieldset>
                        <input name="file" type="file" style="color: #fff;background-color: #5bc0de;border-color: #46b8da; margin-left:15px;">
                    </fieldset>
                    <br/>
                    <fieldset>
                        <button id="upload-file-btn" type="button" class=" btn btn-success" style="margin-left:15px;">Load Graph from file</button>
                    </fieldset>
                </form>
                <li class="sidebar-brand">
                    <a href="#">
                        Status
                    </a>
                </li>
                <li>
                    <a id="selected">Selected Graph:</a>
                </li>
                <li>
                    <a id="contains">G contains H:</a>
                </li>
            </ul>
        </div>
        <!-- /#sidebar-wrapper -->

        <!-- Page Content -->
        <div id="page-content-wrapper">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-12">
                        <div id="g_graph" style="">
                            <h3>
                                Graph G
                            </h3>
                        </div>
                        <div id="h_graph" style="">
                            <h3>
                                Graph H
                            </h3>
                        </div>
                        <div id="4-vertex-graphs">
                            <input type="checkbox" id="K4" name="K4" value="K4">: K4 
                            <img src="{{ url_for('static', filename="images/small-checkmark.jpg") }}" alt="Induced subgraph in G" style="height:15px;width:15px;display: none;" id="K4Yes" class="containsPictures">
                            <img src="{{ url_for('static', filename="images/small-x.jpg") }}" alt="Induced subgraph in G" style="height:15px;width:15px;display: none;" id="K4No" class="containsPictures">
                            <br/>
                            <input type="checkbox" id="co-K4" name="co-K4" value="co_K4">: co-K4
                            <img src="{{ url_for('static', filename="images/small-checkmark.jpg") }}" alt="Induced subgraph in G" style="height:15px;width:15px;display: none;" id="co_K4Yes" class="containsPictures">
                            <img src="{{ url_for('static', filename="images/small-x.jpg") }}" alt="Induced subgraph in G" style="height:15px;width:15px;display: none;" id="co_K4No" class="containsPictures">
                            <br/>
                            <input type="checkbox" id="diamond" name="diamond" value="diamond">: diamond
                            <img src="{{ url_for('static', filename="images/small-checkmark.jpg") }}" alt="Induced subgraph in G" style="height:15px;width:15px;display: none;" id="diamondYes" class="containsPictures">
                            <img src="{{ url_for('static', filename="images/small-x.jpg") }}" alt="Induced subgraph in G" style="height:15px;width:15px;display: none;" id="diamondNo" class="containsPictures">
                            <br/>
                            <input type="checkbox" id="co-diamond" name="co-diamond" value="co_diamond">: co-diamond
                            <img src="{{ url_for('static', filename="images/small-checkmark.jpg") }}" alt="Induced subgraph in G" style="height:15px;width:15px;display: none;" id="co_diamondYes" class="containsPictures">
                            <img src="{{ url_for('static', filename="images/small-x.jpg") }}" alt="Induced subgraph in G" style="height:15px;width:15px;display: none;" id="co_diamondNo" class="containsPictures">
                            <br/>
                            <input type="checkbox" id="paw" name="paw" value="paw">: paw
                            <img src="{{ url_for('static', filename="images/small-checkmark.jpg") }}" alt="Induced subgraph in G" style="height:15px;width:15px;display: none;" id="pawYes" class="containsPictures">
                            <img src="{{ url_for('static', filename="images/small-x.jpg") }}" alt="Induced subgraph in G" style="height:15px;width:15px;display: none;" id="pawNo" class="containsPictures">
                            <br/>
                            <input type="checkbox" id="co-paw" name="co-paw" value="co_paw">: co-paw
                            <img src="{{ url_for('static', filename="images/small-checkmark.jpg") }}" alt="Induced subgraph in G" style="height:15px;width:15px;display: none;" id="co_pawYes"  class="containsPictures">
                            <img src="{{ url_for('static', filename="images/small-x.jpg") }}" alt="Induced subgraph in G" style="height:15px;width:15px;display: none;" id="co_pawNo" class="containsPictures">
                            <br/>
                            <input type="checkbox" id="claw" name="claw" value="claw">: claw
                            <img src="{{ url_for('static', filename="images/small-checkmark.jpg") }}" alt="Induced subgraph in G" style="height:15px;width:15px;display: none;" id="clawYes" class="containsPictures">
                            <img src="{{ url_for('static', filename="images/small-x.jpg") }}" alt="Induced subgraph in G" style="height:15px;width:15px;display: none;" id="clawNo" class="containsPictures">
                            <br/>
                            <input type="checkbox" id="co-claw" name="co-claw" value="co_claw">: co-claw
                            <img src="{{ url_for('static', filename="images/small-checkmark.jpg") }}" alt="Induced subgraph in G" style="height:15px;width:15px;display: none;" id="co_clawYes" class="containsPictures">
                            <img src="{{ url_for('static', filename="images/small-x.jpg") }}" alt="Induced subgraph in G" style="height:15px;width:15px;display: none;" id="co_clawNo" class="containsPictures">
                            <br/>
                            <input type="checkbox" id="C4" name="C4" value="C4">: C4
                            <img src="{{ url_for('static', filename="images/small-checkmark.jpg") }}" alt="Induced subgraph in G" style="height:15px;width:15px;display: none;" id="C4Yes"  class="containsPictures">
                            <img src="{{ url_for('static', filename="images/small-x.jpg") }}" alt="Induced subgraph in G" style="height:15px;width:15px;display: none;" id="C4No" class="containsPictures">
                            <br/>
                            <input type="checkbox" id="2K2" name="2K2" value="co_C4">: 2K2
                            <img src="{{ url_for('static', filename="images/small-checkmark.jpg") }}" alt="Induced subgraph in G" style="height:15px;width:15px;display: none;" id="co_C4Yes"  class="containsPictures">
                            <img src="{{ url_for('static', filename="images/small-x.jpg") }}" alt="Induced subgraph in G" style="height:15px;width:15px;display: none;" id="co_C4No" class="containsPictures">
                            <br/><br/>
                            <button onclick="check4VertexGraphs()" type="button" class="btn btn-info" value="G contains">G contains?</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- /#page-content-wrapper -->

    </div>
    <!-- /#wrapper -->

    <!-- Bootstrap Core JavaScript -->
    <script src="{{ url_for('static', filename="js/bootstrap.min.js") }}"></script>

    <!-- Menu Toggle Script -->
    <script>
    </script>
    <script src="{{ url_for('static', filename="js/force_viewer.js") }}"></script>

</body>

</html>
