#wrapper {
    width: 600px;
    height: 450px;
}
#first {
    width: 300px;
    height: 450px;
    float:left;
}
#second {
    width: 300px;
    height: 450px;
    float: right; 
}

body {
  font: 13px sans-serif;
  position: relative;
  width: 960px;
  height: 500px;
}

.node {
  fill: #000;
  cursor: crosshair;
}

.node_selected {
  fill: #ff7f0e;
  stroke: #ff7f0e;
}

.induced_node {
  fill: #CC66FF;
  stroke: #ff7f0e;
}

.drag_line {
  stroke: #999;
  stroke-width: 5;
  pointer-events: none;
}

.drag_line_hidden {
  stroke: #999;
  stroke-width: 0;
  pointer-events: none;
}

.link {
  stroke: #999;
  stroke-width: 5;
  cursor: crosshair;
}

.link_selected {
  stroke: #ff7f0e;
}

.induced_edge {
  stroke: #CC99FF;
}

.text{
  stroke: #B6B9B8;
}

.color_0{
    fill: #F80000;
}

.color_1{
    fill: #0000FF;
}

.color_2{
    fill: #00FFFF;
}

.color_3{
    fill: #33FF00;
}

.color_4{
    fill: #660033;
}

.color_5{
    fill: #FF6666;
}

.color_6{
    fill: #FFFF33;
}

.color_7{
    fill: #FF9933;
}

.color_8 {
    fill: #CCFFFF;
}

.color_9 {
    fill: #003333;
}